BuscaHuarike/ClienteBuscaHuarike/Service References/ServicioHuarique/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerDistritos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerDistritosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDistritosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTiposComida">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerTiposComidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTiposComidaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerHuarike">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerHuarikeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerHuarikeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PStrUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PStrClave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PStrUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PStrClave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PStrNombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PDteFechaRegistro" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="PIntEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GrabarUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerHuarikesPorDistrito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PStrDistrito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PStrTipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerHuarikesPorDistritoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerHuarikesPorDistritoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDistritosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDistritos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDistritosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDistritosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTiposComidaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTiposComida" />
  </wsdl:message>
  <wsdl:message name="ObtenerTiposComidaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTiposComidaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerHuarikeSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerHuarike" />
  </wsdl:message>
  <wsdl:message name="ObtenerHuarikeSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerHuarikeResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarUsuario" />
  </wsdl:message>
  <wsdl:message name="GrabarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerHuarikesPorDistritoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerHuarikesPorDistrito" />
  </wsdl:message>
  <wsdl:message name="ObtenerHuarikesPorDistritoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerHuarikesPorDistritoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ObtenerDistritos">
      <wsdl:input message="tns:ObtenerDistritosSoapIn" />
      <wsdl:output message="tns:ObtenerDistritosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposComida">
      <wsdl:input message="tns:ObtenerTiposComidaSoapIn" />
      <wsdl:output message="tns:ObtenerTiposComidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHuarike">
      <wsdl:input message="tns:ObtenerHuarikeSoapIn" />
      <wsdl:output message="tns:ObtenerHuarikeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input message="tns:ObtenerUsuarioSoapIn" />
      <wsdl:output message="tns:ObtenerUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabarUsuario">
      <wsdl:input message="tns:GrabarUsuarioSoapIn" />
      <wsdl:output message="tns:GrabarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHuarikesPorDistrito">
      <wsdl:input message="tns:ObtenerHuarikesPorDistritoSoapIn" />
      <wsdl:output message="tns:ObtenerHuarikesPorDistritoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDistritos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDistritos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposComida">
      <soap:operation soapAction="http://tempuri.org/ObtenerTiposComida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHuarike">
      <soap:operation soapAction="http://tempuri.org/ObtenerHuarike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarUsuario">
      <soap:operation soapAction="http://tempuri.org/GrabarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHuarikesPorDistrito">
      <soap:operation soapAction="http://tempuri.org/ObtenerHuarikesPorDistrito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDistritos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDistritos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposComida">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTiposComida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHuarike">
      <soap12:operation soapAction="http://tempuri.org/ObtenerHuarike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarUsuario">
      <soap12:operation soapAction="http://tempuri.org/GrabarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHuarikesPorDistrito">
      <soap12:operation soapAction="http://tempuri.org/ObtenerHuarikesPorDistrito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:7040/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:7040/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>